* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: DM Sans;
  font-size: 1.8rem;
  background-color: #f6f6f6;
  padding: 4rem;
}

main {
  width: 90%;
  margin: 4rem auto;
  display: grid;
  align-self: center;
  justify-self: center;
  /*grid-template: auto / repeat(4, 1fr);*/
  grid-template:
    "cria review review agenda" 75px
    "cria review review agenda" 75px
    "cria review review agenda" 75px
    "cria review review agenda" 75px
    "cria plat agendam agenda" 75px
    "chama plat agendam agenda" 75px
    "chama plat agendam agenda" 75px
    "chama audi cresci cresci" 75px
    "chama audi cresci cresci" 75px
    "chama audi cresci cresci" 75px;
  gap: 2rem;
  /*place-items: center;*/
}

.card {
  border-radius: 1rem;
}

.card-reviews {
  grid-area: review;
  background-color: hsl(256, 67%, 59%);
  color: hsl(0, 0%, 100%);
  padding: 4rem;
  text-align: center;
  
  h1 {
    font-size: 6rem;
    line-height: 95%;
    font-weight: 500;
    
    span {
      color: hsl(39, 100%, 71%);
    }
  }
  
  p {
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.imagem-reviews {
  padding: 4rem 0 0 0;
  width: 26rem;
  justify-self: center;
  
  img {
    width: 100%;
  }
}

.card-plataformas {
  grid-area: plat;
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  overflow: hidden;
  
  .imagem-plataformas {
    padding: 2rem 0 0 3rem;
    width: 33rem;
    
    img {
      width: 100%;
    }
  }
}

.card-plataformas h2 {
  font-size: 3rem;
  line-height: 95%;
  font-weight: 500;
}

.card-agendamento {
  grid-area: agendam;
  background-color: hsl(39, 100%, 71%);
  padding: 3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
  
  .imagem-agendamento {
    width: 20rem;
    padding-top: 3rem;
    
    img {
      width: 100%;
    }
  }
}

.card-agendamento h2 {
  font-size: 3rem;
  line-height: 95%;
  font-weight: 500;
}

.card-agenda {
  grid-area: agenda;
  background-color: hsl(254, 88%, 90%);
  padding: 3rem 2rem 3rem 3rem;
  overflow: hidden;
  
  .imagem-agenda {
    width: 38rem;
    padding: 3rem 0 3rem 0;
    
    img {
      width: 100%;
    }
  }
}

.card-agenda h2 {
  font-size: 4rem;
  line-height: 95%;
  font-weight: 500;
}

.card-agenda p {
  font-size: 2rem;
  line-height: 95%;
}

.card-crescimento {
  grid-area: cresci;
  background-color: hsl(256, 67%, 59%);
  color: hsl(0, 0%, 100%);
  padding: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  
  .imagem-crescimento {
    width: 35rem;
    
    img {
      width: 100%;
    }
  }
}

.card-crescimento h2 {
  font-size: 4rem;
  line-height: 95%;
  font-weight: 500;
}

.card-audiencia {
  grid-area: audi;
  background-color: hsl(0, 0%, 100%);
  padding: 3rem;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  
  .imagem-audiencia {
    width: 20rem;
    margin-top: 3rem;
    
    img {
      width: 100%;
    }
  }
}

.card-audiencia p:first-child {
  font-size: 4rem;
  line-height: 95%;
  font-weight: 500;
}

.card-audiencia p {
  font-size: 1.8rem;
}

.card-criacao {
  grid-area: cria;
  background-color: hsl(31, 66%, 93%);
  padding: 3rem 2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 2rem;
  
  .imagem-criacao {
    width: 100%;
    
    img {
      width: 100%;
    }
  }
}

.card-criacao h2 {
  font-size: 4rem;
  line-height: 95%;
  font-weight: 500;
  
  span {
    color: hsl(256, 67%, 59%);
  }
}

.card-chamada {
  grid-area: chama;
  background-color: hsl(39, 100%, 71%);
  padding: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  
  .imagem-chamada {
    width: 20rem;
    padding-top: 4rem;
    
    img {
      width: 100%;
    }
  }
}

.card-chamada h2 {
  font-size: 4rem;
  line-height: 95%;
  font-weight: 500;
}

attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 600px) {
  
  main {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template: 
    "review review"
    "review review"
    "plat plat"
    "plat plat"
    "agendam agendam"
    "agendam agendam"
    "agenda agenda"
    "agenda agenda"
    "cresci cresci"
    "cresci cresci"
    "audi audi"
    "audi audi"
    "cria cria"
    "cria cria"
    "chama chama"
    "chama chama"
    ;
  }
  
  .card-reviews {
    
    h1 {
      font-size: 4rem;
    }
    
    p {
      font-size: 1.8rem;
    }
    
    
    .imagem-reviews {
      width: 20rem;
    }
  }
  
  .card-plataformas {
    padding: 2rem;
    
    h2 {
      font-size: 2rem;
    }
    .imagem-plataformas {
      padding: 0;
      margin: 0;
      width: 28rem;
    }
  }
  
  .card-agendamento {
    align-items: start;
    justify-content: space-between;
    padding: 2rem 4rem 0 2rem;
    
    
    h2 {
      font-size: 2rem;
    }
    
    .imagem-agendamento {
      transform: translate(0, 10px);
      
    }
  }
  
  .card-crescimento {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    .imagem-crescimento {
      width: 25rem;
    }
  }
  
  .card-criacao {
    .imagem-criacao {
      width: 20rem;
    }
  }
}