* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: DM Sans;
  font-size: 1.8rem;
}

main {
  
}

.card {
  border-radius: 1rem;
  border: solid;
  padding: 2rem;
  margin: 1rem;
}

.card-reviews {
  background:  hsl(256, 67%, 59%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
  div {
    width: 20rem;
  }
}

.card-reviews h1 {
  font-weight: 500;
  font-size: 4.5rem;
  span {
      color: hsl(39, 100%, 71%);
  }
}

.card img {
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}